*~
*.wlf
transcript
work/
sched.xml
.prj
*.dbg

#VIM
*.swp

#OS X
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# SBT and IntelliJ generated stuff
target/
project/project
project/target
.bsp
.idea
gen
*.cf
test_run_dir
argo_build