################################################
#                                              #
#  FirstEncounter Input configuration file     #
#                                              #
################################################
# Created by First Encounter v07.10-s219_1 on Thu Oct 21 13:04:18 2010
global rda_Input
set cwd /home/piraten/eit-eik/r4p/soc
set rda_Input(import_mode) {-treatUndefinedCellAsBbox 0 -keepEmptyModule 1 -useLefDef56 1 }
set rda_Input(ui_netlist) "../netlists/switch_netlist_mod.v"
set rda_Input(ui_netlisttype) {Verilog}

set rda_Input(ui_settop) {0}
set rda_Input(ui_topcell) {noc_swicth_x0_y0}

set rda_Input(ui_pwrnet) {VDD}

set rda_Input(ui_gndnet) {GND}


set rda_Input(ui_timelib) 	"/usr/local-eit/cad2/cmpstm/stm065v534/CORE65LPHVT_5.1/libs/CORE65LPHVT_nom_1.20V_25C.lib\
                                 /usr/local-eit/cad2/cmpstm/stm065v534/CLOCK65LPHVT_3.1/libs/CLOCK65LPHVT_nom_1.20V_25C.lib\
                                 /usr/local-eit/cad2/cmpstm/stm065v534/CORE65LPSVT_5.1/libs/CORE65LPSVT_nom_1.20V_25C.lib\
                                 /usr/local-eit/cad2/cmpstm/stm065v534/CLOCK65LPSVT_3.1/libs/CLOCK65LPSVT_nom_1.20V_25C.lib"

#set rda_Input(ui_io_file) "./scripts/pads_dlatch_x2.io"

set rda_Input(ui_timingcon_file) "../netlists/switch_netlist_mod.sdc"

set rda_Input(ui_leffile) "\
        /usr/local-eit/cad2/cmpstm/stm065v534/EncounterTechnoKit_cmos065_7m4x0y2z_AP@5.3.1/TECH/cmos065_7m4x0y2z_AP_Worst.lef\
        /usr/local-eit/cad2/cmpstm/stm065v534/CORE65LPHVT_5.1/CADENCE/LEF/CORE65LPHVT_soc.lef\
        /usr/local-eit/cad2/cmpstm/stm065v534/CLOCK65LPHVT_3.1/CADENCE/LEF/CLOCK65LPHVT_soc.lef\
        /usr/local-eit/cad2/cmpstm/stm065v534/CORE65LPSVT_5.1/CADENCE/LEF/CORE65LPSVT_soc.lef\
        /usr/local-eit/cad2/cmpstm/stm065v534/CLOCK65LPSVT_3.1/CADENCE/LEF/CLOCK65LPSVT_soc.lef\
        /usr/local-eit/cad2/cmpstm/stm065v534/PRHS65_7.0.a/CADENCE/LEF/PRHS65_soc.lef"
        

set rda_Input(ui_core_cntl) {aspect}
set rda_Input(ui_aspect_ratio) {1.0}
set rda_Input(ui_core_util) {0.7}
set rda_Input(ui_core_height) {}
set rda_Input(ui_core_width) {}
set rda_Input(ui_core_to_left) {}
set rda_Input(ui_core_to_right) {}
set rda_Input(ui_core_to_top) {}
set rda_Input(ui_core_to_bottom) {}
set rda_Input(ui_max_io_height) {0}
set rda_Input(ui_row_height) {2.6}
set rda_Input(ui_isHorTrackHalfPitch) {0}
set rda_Input(ui_isVerTrackHalfPitch) {1}
set rda_Input(ui_ioOri) {R0}
set rda_Input(ui_isOrigCenter) {0}
set rda_Input(ui_exc_net) {}
set rda_Input(ui_delay_limit) {1000}
set rda_Input(ui_net_delay) {1000.0ps}
set rda_Input(ui_net_load) {0.5pf}
set rda_Input(ui_in_tran_delay) {120.0ps}
set rda_Input(ui_captbl_file) {-worst /usr/local-eit/cad2/cmpstm/stm065v534/EncounterTechnoKit_cmos065_7m4x0y2z_AP@5.3.1/TECH/cmos065_7m4x0y2z_AP_Worst.captable -best /usr/local-eit/cad2/cmpstm/stm065v534/EncounterTechnoKit_cmos065_7m4x0y2z_AP@5.3.1/TECH/cmos065_7m4x0y2z_AP_Best.captable}
set rda_Input(ui_defcap_scale) {1.0}
set rda_Input(ui_detcap_scale) {1.0}
set rda_Input(ui_xcap_scale) {1.0}
set rda_Input(ui_res_scale) {1.0}
set rda_Input(ui_shr_scale) {1.0}
set rda_Input(ui_time_unit) {none}
set rda_Input(ui_cap_unit) {}
set rda_Input(ui_oa_reflib) {}
set rda_Input(ui_oa_abstractname) {}
set rda_Input(ui_sigstormlib) {}
set rda_Input(ui_cdb_file) {}
set rda_Input(ui_echo_file) {}
set rda_Input(ui_xilm_file) {}
set rda_Input(ui_qxtech_file) {/usr/local-eit/cad2/cmpstm/stm065v534/SignOffTechnoKit_cmos065lp_7m4x0y2z@5.3.4/etc/QrcTechLibs/RCTYP/RCTYP.tech}
set rda_Input(ui_qxlib_file) {}
set rda_Input(ui_qxconf_file) {}
